* {
    margin: 0;
    padding: 0;
  }

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    height: 100%;
}

body {
    position: relative;
    height: 100%;
}


h1, h2, h3 {
    margin: 0;
    padding: 20px 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    width: 100%;
    background-color: black;
    color: #fdfdfd;
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

header {
    text-align: center;
    flex: 0;
}

header h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header h1 a {
    color: #fff;
    outline: none;
    text-decoration: none;
    background-color: transparent;
}

header h1 a:hover,
header h1 a:focus {
    text-shadow: 0 0 25px red, 0 0 25px #FFF;
    text-decoration: underline;
}


#maincontent {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: auto;
    background-color: #e9e9e9;
    flex: 1 0 auto;
    display: flex;
}

#search-results {
    width: 100%;
}

footer {
    flex: 0 0 50px;
}



#offline {
    text-align: center;
    padding: 5px 0;
    display: none;
    align-self: center;
    width: 100%;
}

img {
    max-width: 100%;
}


.filter {
    padding: 0 0 15px;
    text-align: center;
    color: #fff;
    border:1px solid black;     
}

.filter > input {
    padding: 3px;
    border-radius: 5px;
    margin: 0 0 0 5px;
}

.filter label {
    font-size: 20px;
    padding-right: 10px;
}

#photos-list {
    list-style: none;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    
}

#photos-list li {
    width: 25%;
    min-height: 200px;
    background-image:url('../img/dust.svg'); 
    background-color: #000;
    text-align: center;
    border: 3px solid #e9e9e9;
    box-sizing: border-box;
}

.lazy-img {
    padding: 5px;
}


#photos-list li:hover {
    /* box-shadow: 0 4px 8px 0 rgb(56, 5, 5),0 6px 20px 0 rgba(56, 5, 5); */
}

#photos-list li:focus-within {
    /* box-shadow: 0 4px 8px 0 rgb(56, 5, 5),0 6px 20px 0 rgba(56, 5, 5); */
}

.link-list {
    outline: none;
}

#photos-caption {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#total-photos {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#photo-detail-back{
    display: none;
    /* height: 100vh;   */
    overflow: auto; 
    background-color: #000;
    will-change: transform; /* make a new layer*/
    text-align: center;
    width: 100vw;
}

#photo-detail {
    color: #fdfdfd;
    text-align: center;
    position: relative;
    margin: auto;
    display: inline-block;
}

#photo-detail img {
    max-height: 80vh;
}

.photo-detail-descr {
    margin-top: 10px;
}

.new-tab-link {
    font-size: .9em;
    color: #F0E68C;
    letter-spacing: 1px;
}

.full-img-descr {
    display: flex;
    justify-content: space-around;
}

#btn-close-modal {
    outline: none;
    color: #fefefe;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    border: 0;
    background-color: #555;
    padding: 5px;
    /* border: 1px solid #aaa;
    min-width: 50px;
    min-height: 50px; */
}

#btn-close-modal:hover, #btn-close-modal:focus {
    background-color: #e9e9e9;
    color: black;
}



/* address {
    text-align: right;
    padding: 10px 0;
}
address a {
    color: #fff;
    outline: none;
    text-decoration: none;
}

address a:hover, address a:focus {
    text-shadow: 0 0 25px red, 0 0 25px #FFF;
    text-decoration: underline;
} */

#btnScrollUp {
    display: none; 
    position: fixed;
    bottom: 40px; 
    right: 5px; 
    z-index: 0; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#btnScrollUp:hover {
    background-color: #555; 
}


@media screen and (max-width: 600px) {
    #photos-list {
        
    }
    #photos-list li{
       width: 100%;
    }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
    #photos-list li{
        width: 100%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1020px) {

}
@media screen and (min-width: 1021px) {
    
}


@media screen and (max-width: 415px) {
    header h1, #photos-caption {
        font-size: 16px;
    }

    #photo-detail {
        font-size: 14px;
    }

    address {
        text-align: center;
    }
/* 
    #photo-detail-back{
        padding-top: 15vh;
    } */
}